body {
  margin: 0;
  overflow-x: hidden;
  line-height: normal;
  background-color: #ededed;
  background-image:
  repeating-linear-gradient(
      to right, transparent 0 100px,
      #25283b22 100px 101px
  ),
  repeating-linear-gradient(
      to bottom, transparent 0 100px,
      #25283b22 100px 101px
  );
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-8xl: 27px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.5);

  /* Border radiuses */
  --br-41xl: 60px;
  --br-9xl: 28px;

    /* fonts */
  --font-baloo-chettan: "Baloo Chettan";

  /* font sizes */
  --font-size-106xl-8: 125.8px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-gray-100: #111;
  --color-gray-200: rgba(255, 255, 255, 0.73);
  --color-whitesmoke-100: rgba(234, 234, 234, 0.19);

  /* Border radiuses */
  --br-41xl: 60px;
}
}
