.desktop-1-child {
  position: absolute;
  top: 419px;
  left: 134px;
  box-shadow: 9px 9px 22.1px -3px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-41xl);
  background-color: #fed140;
  width: 355px;
  height: 30px;
}
.uem {
  margin: 0;
}
.uem-aeromodelling-club-container,
.welcome-to {
  position: absolute;
  top: 238px;
  left: 134px;
  font-size: 60px;
  font-weight: bold;
  line-height: 115.01%;
}
.welcome-to {
  top: 182px;
  font-size: 40px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.71);
}
.we-are-uem-container {
  position: absolute;
  top: 483px;
  left: 134px;
  font-size: 20px;
  line-height: 143%;
  font-weight: 500;
}
.about-us,
.contact-us,
.home,
.projects {
  position: absolute;
  top: 46px;
  left: 134px;
  line-height: 129%;
  font-weight: 600;
}
.about-us,
.contact-us,
.projects {
  left: 249px;
}
.about-us,
.contact-us {
  left: 396px;
}
.contact-us {
  left: 556px;
}
.desktop-1-inner,
.desktop-1-item {
  cursor: pointer;
  border: 3px solid var(--color-gray-100);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 33px;
  left: 1196px;
  border-radius: var(--br-9xl);
  box-sizing: border-box;
  width: 160px;
  height: 61px;
}
.desktop-1-inner {
  left: 1001px;
}
.login,
.signup {
  position: absolute;
  top: 46px;
  left: 1228px;
  line-height: 129%;
  font-weight: 600;
}
.login {
  left: 1044px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: red;
  position: absolute;
  top: 658px;
  left: 134px;
  box-shadow: 8px 10px 16px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-9xl);
  width: 202px;
  height: 70px;
}
.subscribe {
  position: absolute;
  top: 675px;
  left: 164px;
  font-size: 25px;
  line-height: 143%;
  color: var(--color-white);
}
.rectangle-div {
  position: absolute;
  top: 164px;
  left: 1146px;
  border-radius: 55px;
  background: linear-gradient(
    175.67deg,
    rgba(75, 114, 255, 0.81),
    rgba(52, 218, 207, 0.79) 42.21%,
    rgba(46, 241, 196, 0.79) 51.54%,
    rgba(216, 56, 237, 0.83)
  );
  width: 205px;
  height: 685px;
}
.ellipse-icon {
  position: absolute;
  top: 220px;
  left: 776px;
  border-radius: 50%;
  width: 576px;
  height: 576px;
  object-fit: cover;
}
.desktop-1-child1 {
  top: 275px;
  left: 831px;
  width: 466px;
  height: 466px;
  object-fit: cover;
}
.desktop-1-child1,
.desktop-1-child4,
.ellipse-div {
  position: absolute;
  border-radius: 50%;
}
.desktop-1-child4 {
  top: 394px;
  left: 950px;
  width: 226px;
  height: 226px;
  object-fit: cover;
}
.ellipse-div {
  top: 425px;
  left: 998px;
  background-color: rgba(255, 198, 12, 0.78);
  width: 144px;
  height: 144px;
}
.desktop-1-child5,
.desktop-1-child6,
.desktop-1-child7 {
  position: absolute;
  top: 437px;
  left: 991px;
  border-radius: 50%;
  width: 144px;
  height: 145px;
  object-fit: cover;
}
.desktop-1-child6,
.desktop-1-child7 {
  top: 202px;
  left: 1303px;
  width: 14px;
  height: 14px;
}
.desktop-1-child7 {
  left: 1280px;
}

.desktop-1-child5{
  top: 430px;
  left: 998px;
}

.vector-icon {
  height: 100%;
  width: 93.7%;
  top: 0;
  right: 6.3%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.moonstars,
.vector-icon,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.vector-icon1 {
  height: 56.3%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 43.7%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}
.moonstars {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 37px;
  left: 909px;
  width: 54px;
  height: 54px;
}

.robot-icon {
  position: absolute;
  top: 439px;
  left: 1165px;
  width: 78px;
  height: 78px;
  object-fit: cover;
}
.aeroplane-icon{
  position: absolute;
  top: 545px;
  left: 1147px;
  width: 80px;
  height: 80px;
}
.iot-icon {
  position: absolute;
  top: 345px;
  left: 1111px;
  width: 68px;
  height: 68px;
}
.facebook-icon,
.instagram-icon,
.linkedin-icon {
  position: absolute;
  top: 774px;
  left: 134px;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.instagram-icon,
.linkedin-icon {
  top: 775px;
  left: 209px;
}
.linkedin-icon {
  left: 284px;
}
.desktop-1 {
  width: 100%;
  position: relative;
  margin-left: 50px;
  border-radius: var(--br-41xl);
  background-color: transparent;
  height: 877px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-black);
  font-family: var(--font-inter);
  aspect-ratio: 3/2;
  object-fit: contain;
}
